.articles-avatar.pull-left
  .avatar(style='background-image: url(#{user.avatar(avatar)})')
.articles-body
  h4.articles-heading.media-heading #{title}
  i.articles-author
    | Author: #{name}
  button.articles-close.close(type='button', aria-hidden='true')
    | &times;
  p
    | #{text}
  .articles-navigation
    a(href=routes.articlesShowPath(page, id)) More &raquo;
    span.comments-count Comments: #{comments_count}
