.pull-left
  .media-object.avatar(style='background-image: url(#{avatar})')
.media-body
  h4.media-heading #{title}
  i
    | Author: #{name}
  button.close(type='button' aria-hidden='true')
    | &times;
  p
    | #{text}
  .article-navigation
    a(href=routes.articlesShowPath(id)) More &raquo;
    span.comments-count Comments: #{comments_count}
